<style>
 .banner {
    z-index: 1030;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    line-height: 20px;
  }

  .banner #banner-container {
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px!important;
    text-align: center;
    display: block;
  }
</style>

<div class="banner" id="cookie-banner" style="background-color: rgb(108, 95, 199);">
  <div id="banner-container">
    <div>
      <p style="color: rgb(255, 255, 255);">By using this site, you acknowledge that you have read and understand our <span class="gdprBtn">Privacy Policy</span>.
        <span class='agree btn btn-default btn-sm'>I Agree</span></p>
    </div>
  </div>
</div>
