<style>
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  </style>
<h2>Incoming features and patches.</h2>
<ul>
    <li>Is currently in development:
      <ul>
        <li>Update User settings</li>
        <li>True viewer count</li>
        <li>Non invasive adblock disable prompt (Inplace of the ad banner)</li>
        <li>Update Users</li>
        <li>Add Remember me in login</li>
        <li>Stream utilities Mobile support</li>
        <li>Intergrate Recaptcha in all Insert/Update pages (Nearly implemented)</li>
      </ul>
    </li>
    <li>Is on the planning
      <ul>
        <li>Importing of alert links (I.e streamlabs, muxy, etc.) and making a "scene" for it so you get 1 link for all your alerts etc + Editor for the layout wysiwyg style</li>
        <li>Adding Extra API Tokens (Youtube, <!--<div class="tooltip"><del>Mixer</del><span class="tooltiptext">Won't be implemented</span></div>-->, Bit.ly, Amazon)</li>
        <li>Auto create Bit.ly when user wants for True one link</li>
        <li>Add a way to upload stream templates to Stream utilities panel</li>
        <li>General Security fixes and add if false positive on Recaptcha -> If recaptcha returns low score use V2 instead</li>
        <li>Update Linked Twitch account (Change to another user and/or adding extra users to a single account)</li>
        <li>Make Stream utilities more robust with one page update/insert</li>
        <li>When not logged in -> to login page and once logged in go back to page you got redirected from</li>
        <li>Adding 2FA for better security</li>
      </ul>
  </li>
  <li>Development completed and implemented
    <ul>
      <li>Banner creator</li>
      <li>Ability to update Amazon True one Link</li>
      <li>Twitch Oauth2 intergation</li>
      <li>Fix Register Function -> Gives wrong output text when registering</li>
      <li>Add fail back to True one link (if ! then -> .com)</li>
      <li>More countries have been added to the scope</li>
      <li>New Darkmode UI (With Toggle)</li>
      <li>Tweak login to allow for unique tokens in $_SESSION. This feature has been changed to randomized unique session to make logging in more secure!</li>
      <li>Dark mode smooth switching</li>
      <li>Alerts that are removable</li>
      <li>Add invitational codes for Users to create and invite other creators with faster access -> Make unique invite links with prefilled code to make sharing easier.</li>
      <li>Banner editor</li>
    </ul>
  </li>
  <li>Known issues
    <ul>
      <li>Recaptcha V3 is not always right (This is out of my power. This should get better with the aging of ReCaptcha V3) Score requirement has been lowered to 0.3 to combat this issue.</li>
      <li>Footer can block text inputs when screen is low resolution</li>
      <li>Ads not loading on Dash? (Might be AMP related)</li>
    </ul>
  <li>Permanent research topics
    <ul>
      <li>Amazon true one link usage</li>
      <li>Working out new user features</li>
      <li>Improving user experience</li>
    </ul>
  </li>
</ul>
