@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot');
  src: url('../font/fontello.eot') format('embedded-opentype'),
       url('../font/fontello.woff2') format('woff2'),
       url('../font/fontello.woff') format('woff'),
       url('../font/fontello.ttf') format('truetype'),
       url('../font/fontello.svg') format('svg');
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?57868999#fontello') format('svg');
  }
}
*/

 [class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fa-eye:before { content: '\e800'; } /* '' */
.fa-eye-slash:before { content: '\e801'; } /* '' */
.fa-cog:before { content: '\e802'; } /* '' */
.fa-sign-out-alt:before { content: '\e803'; } /* '' */
.fa-edit:before { content: '\e804'; } /* '' */
.fa-info-circle:before { content: '\e805'; } /* '' */
.fa-home:before { content: '\e806'; } /* '' */
.fa-twitter:before { content: '\f099'; } /* '' */
.fa-plus-square:before { content: '\f0fe'; } /* '' */
.fa-twitch:before { content: '\f1e8'; } /* '' */
