@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	background: #24252A;
	color: #ecf0f1;
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	min-height: 100%;
	flex-direction: column;
	align-items: stretch;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

li, a, button {
	font-size: 16px;
	text-decoration: none;
	color: #ecf0f1;
}

header, main, footer {
	flex-shrink: 0;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 15%;
}

header a {
	transition: all 0.3s ease 0s;
}

header a:hover {
	color: #0088a9;
	text-decoration: none;
}

#logo {
	text-transform: uppercase;
}

.nav_links {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav_links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a {
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
	color: #0088a9;
	text-decoration: none;
}

button {
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1.0);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgba(0, 136, 169, 0.8);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

main h1, p, button {
	margin: 5px;
}

footer {
	display: flex;
	padding: 20px 15% 50px;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}

footer ul {
	margin: 5px;
}

footer li {
	display: inline-block;
	font-size: 12px;
}

footer li a {
	transition: all 0.3s ease 0s;
	font-size: 12px;
}

footer li a:hover {
	color: #0088a9;
	text-decoration: none;
}