.grecaptcha-badge {
    bottom: 0 !important;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f150;
}
::-webkit-scrollbar-thumb {
    background: #3c3a3a;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.field-icon {
    float: right;
    margin-top: -29px;
    position: relative;
    z-index: 2;
}
#dvLoading {
    height: 50px;
    width: 50px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
    z-index: 1000;
    opacity: 1;
    filter: alpha(opacity=100);
}
.imageloader {
    height: 50px;
    width: 50px;
}
#overlay {
    opacity: 0.1;
    filter: alpha(opacity=10);
}
#content-wrapper {
    width: 100%;
    padding-bottom: 2.5rem;
}
#explain-4 {
    background-color: #ee1111;
}
footer {
    display: grid;
    place-items: center;
    position: relative;
    height: auto;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    width: 98%;
    /*z-index: -1;*/
}
body {
    font-size: 18px;
    font-weight: 500;
}
#statviewer {
    /*Removed margin due to new fix*/
}
li {
    margin-top: 10px;
}
.todo {
    height: auto;
    width: 20%;
    display: inline-block;
    z-index: -2;
}
.stats {
    height: auto;
    display: inline-block;
    z-index: -1;
}
.alert.success a:active {
    color: #012527;
}
.alert.success a:link {
    color: #012527;
}
.alert.success a:visited {
    color: #012527;
}
.alert.success a:hover {
    color: #012527;
}
footer a:active {
    color: #006D9C;
    text-decoration: none;
}
footer a:link {
    color: #006D9C;
    text-decoration: none;
}
footer a:visited {
    color: #006D9C;
    text-decoration: none;
}
footer a:hover {
    color: #006D9C;
    text-decoration: none;
}
.modal-content {
    color: #000000;
}
.modal-content a:active {
    color: #000000;
}
.modal-content a:link {
    color: #000000;
}
.modal-content a:visited {
    color: #000000;
}
.modal-content a:hover {
    color: #000000;
}
.alert.success {
    background-color: #4CAF50;
}
.alert.info {
    background-color: #2196F3;
}
.alert.warning {
    background-color: #ff9800;
}
.closebtn,
.closebtnupdate {
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover,
.closebtnupdate:hover {
    color: black;
}
meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: auto;
    height: 0.5em;
    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}
meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}
/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value {
    background: red;
}
meter[value="2"]::-webkit-meter-optimum-value {
    background: yellow;
}
meter[value="3"]::-webkit-meter-optimum-value {
    background: orange;
}
meter[value="4"]::-webkit-meter-optimum-value {
    background: green;
}
/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar {
    background: red;
}
meter[value="2"]::-moz-meter-bar {
    background: yellow;
}
meter[value="3"]::-moz-meter-bar {
    background: orange;
}
meter[value="4"]::-moz-meter-bar {
    background: green;
}
h1 {
    margin: .67em 0;
    font-size: 2em;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
    font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
    font-size: 75%;
}
h1,
.h1 {
    font-size: 36px;
}
h2,
.h2 {
    font-size: 30px;
}
h3,
.h3 {
    font-size: 24px;
}
h4,
.h4 {
    font-size: 18px;
}
h5,
.h5 {
    font-size: 14px;
}
h6,
.h6 {
    font-size: 12px;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.modal {
    display: none;
    place-items: center;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10000;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    max-width: 100%;
    height: 85%;
    max-height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-bottom: 300px;
}
.modal-content {
    position: relative;
    place-items: center;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.close,
.closegdpr,
.closeabout {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 16px 16px;
}
.close:hover,
.close:focus,
.closegdpr:hover,
.closegdpr:focus,
.closeabout:hover,
.closeabout:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: #16a0b5;
    color: white;
}
#explain,
#explain-2,
#explain-3,
#explain-4,
#img {
    padding: 2px 16px;
}
#imagesamazon {
    max-width: 100%;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
@media screen and (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none
    }
}
.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}
.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1
}
.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1
}
.form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}
.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}
.form-control::placeholder {
    color: #6c757d;
    opacity: 1
}
.form-control:disabled,
.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1
}
select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff
}
.form-control-file,
.form-control-range {
    display: block;
    width: 100%
}
.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5
}
.col-form-label-lg {
    padding-top: calc(.5rem + 1px);
    padding-bottom: calc(.5rem + 1px);
    font-size: 1.25rem;
    line-height: 1.5
}
.col-form-label-sm {
    padding-top: calc(.25rem + 1px);
    padding-bottom: calc(.25rem + 1px);
    font-size: .875rem;
    line-height: 1.5
}
.form-control-plaintext {
    display: block;
    width: 100%;
    padding-top: .375rem;
    padding-bottom: .375rem;
    margin-bottom: 0;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0
}
.form-control-plaintext.form-control-lg,
.form-control-plaintext.form-control-sm {
    padding-right: 0;
    padding-left: 0
}
.form-control-sm {
    height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}
.form-control-lg {
    height: calc(2.875rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem
}
select.form-control[multiple],
select.form-control[size] {
    height: auto
}
textarea.form-control {
    height: auto
}
.form-group {
    margin-bottom: 1rem
}
.form-text {
    display: block;
    margin-top: .25rem
}
.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px
}
.form-row > .col,
.form-row > [class*=col-] {
    padding-right: 5px;
    padding-left: 5px
}
.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem
}
.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem
}
.form-check-input:disabled ~ .form-check-label {
    color: #6c757d
}
.form-check-label {
    margin-bottom: 0
}
.form-check-inline {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: .75rem
}
.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: .3125rem;
    margin-left: 0
}
.text-muted {
    color: #6c757d !important
}
.btn-group-sm > .btn,
.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}
.btn-group-sm > .btn + .dropdown-toggle-split,
.btn-sm + .dropdown-toggle-split {
    padding-right: .375rem;
    padding-left: .375rem
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}
.btn-default {
    background-color: #ddd;
}
.agree.btn.btn-default.btn-sm {
    background-color: #16a0b5;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc
}
.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}
.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
@media screen and (prefers-reduced-motion:reduce) {
    .btn {
        transition: none
    }
}
.btn:focus,
.btn:hover {
    text-decoration: none
}
.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}
.btn.disabled,
.btn:disabled {
    opacity: .65
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer
}
a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none
}
#login-wrapper {
    place-items: center;
}
#login {
    width: 400px;
    margin: 0 auto;
}
#login-frame {
    width: 500px;
    height: auto;
    border: 1px solid #006D9C;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
#login-head {
    width: 500px;
    background-color: #006D9C;
    color: #fff;
    padding: 3px 1px;
    margin: 0 auto;
    margin-top: 20px;
}
#register-wrapper {
    place-items: center;
}
#register {
    width: 400px;
    margin: 0 auto;
}
#register-head {
    width: 500px;
    background-color: #006D9C;
    color: #fff;
    padding: 3px 1px;
    margin: 0 auto;
    margin-top: 20px;
}
#register-frame {
    width: 500px;
    height: auto;
    border: 1px solid #006D9C;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
#password-wrapper {
    place-items: center;
}
#password-reset {
    width: 400px;
    margin: 0 auto;
}
#password-head {
    width: 500px;
    background-color: #006D9C;
    color: #fff;
    padding: 3px 1px;
    margin: 0 auto;
    margin-top: 20px;
}
#password-frame {
    width: 500px;
    height: auto;
    border: 1px solid #006D9C;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
#password-success {
    width: 450px;
    margin: 0 auto;
    margin-top: 20px;
}
#reset-wrapper {
    place-items: center;
}
#reset {
    width: 400px;
    margin: 0 auto;
}
#reset-head {
    width: 500px;
    background-color: #006D9C;
    color: #fff;
    padding: 3px 1px;
    margin: 0 auto;
    margin-top: 20px;
}
#reset-frame {
    width: 500px;
    height: auto;
    border: 1px solid #006D9C;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
#amazon-frame {
    width: 500px;
    height: auto;
    /*margin: 0 auto;*/
    padding-top: 20px;
    padding-bottom: 20px;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 550;
    left: 550;
    /*z-index: 1030*/
}
#formpadding {
    padding-top: 10px;
}
#ads {
    margin-top: 10px;
    margin-bottom: -25px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
#adblockon {
    padding: 3px;
    background-color: #2196F3;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
    margin: auto;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger:focus,
.btn-danger.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger .badge {
    color: #d9534f;
    background-color: #fff;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}
.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success .badge {
    color: #5cb85c;
    background-color: #fff;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-info:focus,
.btn-info.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
}
.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-info .badge {
    color: #5bc0de;
    background-color: #fff;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-warning:focus,
.btn-warning.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d;
}
.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff;
}
#CookiePrivacy {
    cursor: pointer;
    color: #0bc2de;
    text-decoration: underline;
}
.gdprBtn,
.aboutBtn,
#loginbuttonback,
#loginbutton,
#registerBtn,
#password {
    color: #006D9C;
    text-decoration: none;
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
}
.column.small {
    float: left;
    width: auto;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
.landing-wrapper {
    vertical-align: middle;
}
