<div class="modal-content">
<span class="closeabout">&times;</span>
<div class="modal-header">
  <h2>About us</h2>
</div>
<div id="explain">
  <h1>About Stream utilities</h1>
  Stream utilities is all about making the experience for content creators easier (Twitch, Youtube and Mixer) by giving them the tools they really desire!
  <p>Our goal is to make a system that can actually benefit streamers in their road to greater things we do this by listening to our users and implementing ideas they have</p>
  <p>Stream utilities is a project made for streamers by streamers and we don't want to become that evil faceless company that doesn't listen to our beloved users! Community engagement is one of the most important goals we have,
    we are open to listen to anyones feedback good and bad and we would love you to be part of this awesome community while it's still growing and in development.
  There are no bad idea's to implement if it makes a streamers life easier then you're at the right spot! You as a user will always be appreciate and it won't cost you anything to join. The only thing we ask users is to
  turn off their adblocking extensions it's the only way we make money for the time being and we don't want to ask for donations from users. you (the user) is the most important here!
  <br>
  <h3>The users are the ones keeping us rolling!</h3>
</div>
<div id="explain-2">
  <h1>Privacy for everyone</h1>
  We at stream utilities believe in having good privacy as one of the first things on our list
  <p>If you want you are allowed to request your data from us by emailing <a href="mailto:contact@rockster.dev">Contact@rockster.dev</a> with subject data. Include your username and we will show you what we have of you, it is however possible we ask for more information to be able to verify it's you!</p>
  <p>We from stream utilities also follow a no logging policy! Whatever you do on our website isn't tracked by us (Google adsense can however track what you do). <br>All we know is your registered data for which you gave us permission by registering,
  we don't sell this data to any other 3rd party and is available to you at all times as stated above.</p>
</div>
</div>
