<div class="modal-content">
  <span class="close">&times;</span>
  <div class="modal-header">
    <h2>Banners help</h2>
  </div>
  <div id="explain-4">
    <h2>Banner is still in development</h2>
    <p>This guide is prone to changes as the feature gets advanced on. Please check the to-do list on the dashboard to see what changes will be made in the future!</p>
  </div>
  <div id="explain">
    <h2>How does Banners work?</h2>
    Well that's a very good question!<br>
    Banners works by users inputting their socials into the form which will create a nice looking banner with the effect desired by set user<br>
    There are multiple effects possible in Banners<sup>1,2,3</sup> which you can choose from!
  </div>
  <hr>
  <div id="explain-2">
    <h2>How to setup Banners?</h2>
    Well that's all good and all but how does one actually start using this application?<br>
    First things first you have to select which socials you want to show by ticking the boxes<sup>4</sup>, then you can fill in the empty text fields with your social details (@'s will get removed and added back once done!).<sup>5</sup><br>
    Once those are filled in you can select your effect<sup>1,2,3</sup> from the drop down menu under the text inputs these effects are possible to change in the future once there are more added effects into the libary so keep an eye out
    for those. Once you selected your desired effect you can choose to change the effect cycle (The time it takes for a effect to animate) this is calculated in miliseconds so keep that in mind the same goes for the delay timer which delays
    the next up animation. The Refresh timer can be changed as well so if you want your banners to show every 30 minutes you can do that by setting it to 30 (the refreshtimer is calculated in minutes).<br>
    Now you can click create banner and it will create your unique banner with a unique link!
  </div>
  <hr>
  <div id="explain-3">
    <h2>I have done all of the above what now?</h2>
    Congrats! You have made your own Banner!<br>
    You got a link which you can use to put on your scenes in Xsplit, Obs, etc. If you forgot your link. don't worry above the banner creation is a table with the data you need to know about your link and what you have entered to be contained in
    the banner!<br>
  </div>
  <hr>
  <div id="img">
    <small>image 1 (Pop)</small><br>
    <img id="imagesbanner" src="web-img/images/banner/sample-1.webp"><br><br>
    <small>image 2 (Fade)</small><br>
    <img id="imagesbanner" src="web-img/images/banner/sample-2.webp"><br><br>
    <small>image 3 (Slide)</small><br>
    <img id="imagesbanner" src="web-img/images/banner/sample-3.webp"><br><br>
    <small>image 4</small><br>
    <img id="imagesbanner" src="web-img/images/banner/sample-4.webp"><br><br>
    <small>image 5</small><br>
    <img id="imagesbanner" src="web-img/images/banner/sample-5.webp"><br><br>
  </div>
</div>

<script>
  $("document").ready(function() {
    var modalbanner = document.getElementById("myModal");
    var btnbanner = document.getElementById("myBtn");
    var spanbanner = document.getElementsByClassName("close")[0];
    btnbanner.onclick = function() {
      $('#myModal').slideDown();
    }
    spanbanner.onclick = function() {
      $('#myModal').slideUp();
    }
    document.onclick = function(event) {
      if (event.target == modalbanner) {
        $('#myModal').slideUp();
      }
    }
  });
</script>
