<div class="modal-content">
<span class="close">&times;</span>
<div class="modal-header">
 <h2>True One link help</h2>
</div>
<div id="explain-4">
 <h2>Before doing anything <b>Do this first!</b></h2>
 <p>First thing you want to do is add <a href="https://rockster.dev">https://rockster.dev/</a> to your website list<sup>7,8,9,10</sup> in all the different countries that you use True one link for<br>
 Please be sure you are using the page you want to redirect people to!</p>
</div>
<div id="explain">
<h2>How does True one link work?</h2>
Well that's a very good question!<br>
True one link works by gathering the amazon link Identifiers and redirecting them through 1 link.<br>
This link is for example <a href='../amazon/rockster_dev/'>https://rockster.dev/amazon/rockster_dev</a><br>
with some trickery we can figure out which link needs to be used while redirecting a visitor.<br>
So if for example a visitor comes from The netherlands it will redirect them to the German amazon store front where the visitor can actually purchase goods.
</div>
<hr>
<div id="explain-2">
<h2>How to setup True one link?</h2>
Well that's all good and all but how does one actually start using this application?<br>
First of all you need to have a Amazon associates account from one of the countries that supports One link. (.com, co.uk, .de I would recommend using the .com site!)<br>
Once you have made a associate account in one of these regions go to <b>"tools"</b><sup>1</sup> then click <b>"Link your accounts"</b><sup>1</sup> and make all the accounts for the remaining regions<sup>23</sup>.
</div>
<hr>
<div id="explain-3">
<h2>I have done all of the above what now?</h2>
Congrats! You are nearly ready to make your True one link!<br>
There are only some small things you have left to do.<br>
That is inputing the Identifiers into their respected fields.<br><br>
<h2>How to get the Identifiers?</h2>
That's pretty simple actually and will all be explained.<br>
If you now go to one of the amazon store fronts like <a href="https://amazon.com/">Amazon.com</a> there should now be a banner in the top<sup>4</sup> where you can select certain link types.<br>
The banner is also called the SiteStripe with which you can create links to products but that's not what we want to do.<br>
What we want to do is click on <b>"Text"</b><sup>5</sup> then copy the text after the / and input them in the correct fields.<br>
In my case it's <b>"2N3cMyJ"</b> this can be inputted at it's amazon link<sup>6</sup> (in this case .de)<br><br>
Congrats you did it now just press the create button and your link is all ready to go!
</div>
<hr>
<div id="img">
<small>image 1</small><br>
<img id="imagesamazon" src="web-img/images/amzn/sample-1.webp"><br><br>
<small>image 2</small><br>
<img id="imagesamazon" src="web-img/images/amzn/sample-2.webp"><br><br>
<small>image 3</small><br>
<img id="imagesamazon" src="web-img/images/amzn/sample-3.webp"><br><br>
<small>image 4</small><br>
<img id="imagesamazon" src="web-img/images/amzn/sample-4.webp"><br><br>
<small>image 5</small><br>
<img id="imagesamazon" src="web-img/images/amzn/sample-5.webp"><br><br>
<small>image 6</small><br>
<img id="imagesamazon" src="web-img/images/amzn/sample-6.webp"><br><br>
<small>image 7</small><br>
<img id="imagesamazon" src="web-img/images/amzn/sample-7.webp"><br><br>
<small>image 8</small><br>
<img id="imagesamazon" src="web-img/images/amzn/sample-8.webp"><br><br>
<small>image 9</small><br>
<img id="imagesamazon" src="web-img/images/amzn/sample-9.webp"><br><br>
<small>image 10</small><br>
<img id="imagesamazon" src="web-img/images/amzn/sample-10.webp"><br><br>
</div>
</div>

<script>
  $("document").ready(function(){
  var modalamzn = document.getElementById("myModal");
  var btnamzn = document.getElementById("myBtn");
  var spanamzn = document.getElementsByClassName("close")[0];
  btnamzn.onclick = function() {
    $('#myModal').slideDown();
  }
  spanamzn.onclick = function() {
    $('#myModal').slideUp();
  }
  document.onclick = function(event) {
      if (event.target == modalamzn) {
        $('#myModal').slideUp();
      }
  }
  });
    </script>
